/* Kolory 
#112F41 ciemny niebieski
#068587 niebieski
#4FB99F jasny n
#F2B134 żółty
#ED553B pomarańcz  
background: linear-gradient(90deg, #000 10%, #eee 90%); 1 kąt 2 kolor 1 3 moment przejscia 4 kolor 2
*/
body{
	margin:0;
	padding: 0;
	font-family: 'Saira', sans-serif;
	background: #068587;
}
#particles-js{
	height: 600px;
	margin-bottom: 45px;
	z-index: 5;
	
}
#particles-js h1{
	position: absolute;
	top: 40%;
	left: 50%;
	font-size: 60px;
	color: #ED553B;
	text-align: center;
	transform: translate(-50%,50%);
	z-index: -5;
}
.container{
	width: 80%;
	margin:auto;
	overflow: hidden;
	background-color: #4FB99F;
	padding: 40px 50px;
	margin-bottom: 40px;

}
.link{
	color: #112F41;
	font-weight: bold;
}
.link:visited
{
	color: #068587;
}
header{
	background: #112F41;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #4FB99F 3px solid;
}
h1{
	margin:0 0 0 30px;
	text-transform: uppercase;
}
.sas{
	color: #112F41;
	font-weight: bold;
}
.logo{
	color: #F2B134;
	font-weight: bold;
}
nav .nazwa h1{
	float:left;
	margin: 5px 0px 0px 200px; 
	word-spacing: .3em;
	letter-spacing: 5px;
}

.button1{
	text-decoration: none;
	padding: 1em 2em;
	background-color: #ED553B;
	display: inline-block;
	color:white;
	box-shadow: 0px 4px 5px -2px rgba(0,0,0,.75);
	transition: all ease-in-out 250ms;
	border-radius: 15px;
}
.button1:hover{
	box-shadow: 0px 18px 8px -10px rgba(0,0,0,.6);
	transform: translateY(-10px);
	background-color: #F2B134;
}
.buttons .button1{

	float: left;
	text-align: center;
	width:20%;
	margin: 20px 6.6% 40px 6.6%;
	display: inline;
	box-sizing: border-box;
}
.clear{
	clear: both;
}
li{
font-weight: bold;
}
.blocks ul{
	display: block;
	float: left;
	width: 40%;
}
}
.blocks {
box-sizing: border-box;
}
.blocks img {
	margin: -20px 1% 10px 1%;
}
.blocks2 p{
	float: left;
	width: 40%;
}
.blocks2 img{
	margin: -20px 3px -20px 3px;
	
}
.blocks2 {
box-sizing: border-box;
}
.blocks3 p{
	float: left;
	width: 50%;
	margin-right: 20px;
	}
footer{
	background-color: #112F41;
	padding-bottom: 3px;

	border-top: #4FB99F 3px solid;
}
footer h3{
	color: #ED553B;
}
























/*glow effect kontakt*/

.glow{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.glow span{
	font-weight: bold;
	color:#fff;
	font-family: 'Saira', sans-serif;
	font-size: 30px;
	color: #fff;
	display: inline-block;
	animation: lol 2s linear infinite;
	width:50px;
	height:50px;
	text-align: center;
	line-height: 50px;
	border:1px solid rgba(255,255,255,.4); 
	margin:0 -2.5px;
}
@keyframes lol{
	0%{
		color:#f00;
		box-shadow: 0 2px 10px rgba(255,0,0,1);
		border:1px solid rgba(255,0,0,1);
	}
		33.3%{
		color:#f00;
		box-shadow: 0 2px 10px rgba(255,255,0,1);
		border:1px solid rgba(255,255,0,1);
	}
		66.6%{
		color:#ff0;
		box-shadow: 0 2px 10px rgba(0,255,0,1);
		border:1px solid rgba(0,255,0,1);
	}
		100%{
		color:#f00;
		box-shadow: 0 2px 10px rgba(255,0,0,1);
		border:1px solid rgba(255,0,0,1);
	}
}
.glow span:nth-child(1)
{
	animation-delay: 0s;
}
.glow span:nth-child(2)
{
	animation-delay: 0.1s;
}
.glow span:nth-child(3)
{
	animation-delay: 0.2s;
}
.glow span:nth-child(4)
{
	animation-delay: 0.3s;
}
.glow span:nth-child(5)
{
	animation-delay: 0.4s;
}
.glow span:nth-child(6)
{
	animation-delay: 0.5s;
}
.glow span:nth-child(7)
{
	animation-delay: 0.6s;
}



.contactbox h3 {
	float:left;
	background: linear-gradient(115deg, #F2B134 45%, #ED553B 45%);
	width: 20%;
	padding: 40px 0;
	margin: 10px 6% 10px 6%;
	text-align: center;
}





















/* menu przyciski*/
nav ul{
	float:right;
	position: relative;
	top: -35px;
	right: 80px;
	display: flex;
	z-index: 2;
}
nav ul li{
	list-style: none;
}
nav ul li a{
	position: relative;
	display: block;
	padding: 10px 20px;
	margin: 20px 0;
	text-decoration: none;
	text-transform: uppercase;
	color: #ED553B ;
	font-weight: bold;
	transition: .5s;
}
nav ul li a:hover
{
	color:#fff;
}
nav ul li a:before
{
	content: '';
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #F2B134;
	border-bottom: 1px solid #F2B134;
	transform: scaleY(2);
	opacity: 0;
	transition: .5s;
	z-index: -1;

}
nav ul li a:hover:before{
	transform: scaleY(1.2);
	opacity: 1;
}

nav ul li a:after
{
	content: '';
	position: absolute;
	top: 1px;
	left:0;
	width: 100%;
	height: 100%;
	background: #F2B134;
	transform: scale(0);
	transition: .5s;
	z-index: -1;

}
nav ul li a:hover:after{
	transform: scaleY(1);
}










/*img comparison*/
.imgcontainer{
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 1024px;
	height: 683px;
}
.imgbox{
	position: absolute;
	top: 0;
	left: 0;
}
.imgafter{
	width: 0;
	transition: 4s;
	overflow: hidden;
	border-right: 10px solid #F2B134;
}
.imgcontainer:hover .imgafter
{
	width: 100%;
}